/* Error message style */
.error-padding{
	padding-left: 10px;
    padding-right: 13px;
}

.title-heading {
	width:100%;
	display:block;
	float:left;
	font-size:18px;
	color:#333;
	margin-top:30px;
	font-family: 'montserratsemibold';
}

.sub-content {
    font-size: 18px;
    text-align: justify;
    color:#fff;
    margin: 0px 0px 20px 0px;
}

.title-text {
	width:100%;
	display:block;
	float:left;
	font-size:18px;
	color:#fff;
	margin-top:30px;
	font-family: 'montserratsemibold';
}
.right-nav{
	float: right !important;
}

.save-button{
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border: 0px;
	outline: 0px;
	color: #FFF;
	background: #3ab5ff;
}

.cancel-button{
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border: 0px;
	outline: 0px;
	color: #FFF;
	background:grey;
}

.save-button:hover{
	background:#30a8f0;
	color:#FFF !important;
	text-decoration:none;
	outline: none;

}
.save-button:focus{
	background:#30a8f0;
	color:#FFF !important;
	text-decoration:none;
	outline: none;

}

.save-button:visited{
	background:#30a8f0;
	color:#FFF !important;
	text-decoration:none;
	border:none !important;
	outline: none;
}

.save-button:active{
	background:#30a8f0;
	color:#FFF !important;
	text-decoration:none ;
	border:none !important;
	outline: none;
}

.cancel-button:hover, .cancel-button:visited, .cancel-button:active{
	background:#585c5f;
	color:#FFF;
	text-decoration:none;
	border:none;
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
	outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.margin-p{
	margin: 0px;
}

input::-webkit-input-placeholder {
	color: #888;
}

.overdue-tasks .checkin-sublink{
	color: red;
}

.risk-zone-slider .ui-slider {
	background: #dadcda;
}

.modal { overflow: auto !important; }

.left-space .icheckbox_square-blue {
	margin-left: 10px;
}
.bottom-padding {
	padding-bottom: 35px;
}