<%- contentFor('header') %>
<%- contentFor('body') %>
<div class="message">     
    <h1>Forbidden</h1>         
    <p>We'r sorry, unable to verify your data submission.</p>
    <p><a href="/" class="btn btn-sm btn-primary">You can go back to Home</a></p>
</div>
<%- contentFor('footer') %>