<%- contentFor('header') %>
<%- contentFor('body') %>
<div class="message">     
    <h1>Page Not Found</h1>         
    <p>The page you're looking for has been moved!</p>
    <p><a href="/" class="btn btn-sm btn-primary">You can go back to Home</a></p>
</div>
<%- contentFor('footer') %>