<%- contentFor('header') %>
<%- contentFor('body') %>
<div class="message">     
    <h1><%- title %></h1>      
    <p>The session has expired and must log in again!</p>
    <p><a href="/login" class="btn btn-sm btn-primary">You can go to Login</a></p>
</div>
<%- contentFor('footer') %>