<%- contentFor('header') %>
<%- contentFor('body') %>
<div class="message">     
    <h1>Uh oh, Something didn't go as planned!</h1>         
    <p>We're very sorry about that. Please contact support and let us know what you were trying to do when it happened, so we can get it fixed as soon as possible.</p>
    <p>Thanks for helping us get the bugs out!</p>
    <p><a href="/" class="btn btn-sm btn-primary">You can go back to Home</a></p>
</div>
<%- contentFor('footer') %>